*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: aquamarine;
  max-width: 700px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single_task {
  display: flex;
}

label {
  display: flex;
}

input#checked_task {
  accent-color: rgb(0, 0, 0);
}

main,
.single_task,
label {
  gap: 20px;
}
